@model WebApplication1.ViewModels.ProfileViewModel;
@using Microsoft.AspNetCore.Identity
@using MongoDB.Bson
@using WebApplication1.Game
@using WebApplication1.Game.BaseClasses
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<style type="text/css">
    #inv td {
        padding: 0;
    }
</style>
@if (SignInManager.IsSignedIn(User))
{
     var cdb = new CultivatorContext();
     var cult = await cdb.GetCultivator(User.Identity.Name);
     var items = cult.Inventory.Items;
    var eqs = cult.Equipments;

    int StatPrice(float stat)
    {
        var a = (int)Math.Pow(10, stat.ToString().Length) + (int)stat * 4;
        var b = 0;
        for (int i = 1; i < stat; i++)
        {
            b += i.ToString().Length * 10;
        }

        return (a + b);
    }

    ;
    
    <script type="text/javascript">
        var itemDescriptions = {
            @foreach (var item in items)
            {
                <text>
                    '@item.Id': '@Html.Raw(item.Description().Description)',
                </text>
            }
        }
        var bootsDescs = {
            @for (var i = 0; i < eqs.Boots.Count; ++i)
            {
                var item = eqs.Boots[i];
                 <text>
                     '@i': 'Сила: @Html.Raw(item.Bonus.MainStats.Strength)\nЛовкость:\
                    @Html.Raw(item.Bonus.MainStats.Agility)\nИнтеллект: @Html.Raw(item.Bonus.MainStats.Intelligence)\nВыносливость: @Html.Raw(item.Bonus.MainStats.Endurance)',
                 </text>
            }
        }
        var plateDescs = {
            @for (var i = 0; i < eqs.Plates.Count; ++i)
            {
                var item = eqs.Plates[i];
                 <text>
                     '@i': 'Сила: @Html.Raw(item.Bonus.MainStats.Strength)\nЛовкость:\
                    @Html.Raw(item.Bonus.MainStats.Agility)\nИнтеллект: @Html.Raw(item.Bonus.MainStats.Intelligence)\nВыносливость: @Html.Raw(item.Bonus.MainStats.Endurance)',
                 </text>
            }
        }
        var swordDescs = {
            @for (var i = 0; i < eqs.Swords.Count; ++i)
            {
                var item = eqs.Swords[i];
                 <text>
                     '@i': 'Сила: @Html.Raw(item.Bonus.MainStats.Strength)\nЛовкость:\
                    @Html.Raw(item.Bonus.MainStats.Agility)\nИнтеллект: @Html.Raw(item.Bonus.MainStats.Intelligence)\nВыносливость: @Html.Raw(item.Bonus.MainStats.Endurance)',
                 </text>
            }
        }
        var amuletDescs = {
            @for (var i = 0; i < eqs.Amulets.Count; ++i)
            {
                var item = eqs.Amulets[i];
                 <text>
                     '@i': 'Сила: @Html.Raw(item.Bonus.MainStats.Strength)\nЛовкость:\
                    @Html.Raw(item.Bonus.MainStats.Agility)\nИнтеллект: @Html.Raw(item.Bonus.MainStats.Intelligence)\nВыносливость: @Html.Raw(item.Bonus.MainStats.Endurance)',
                 </text>
            }
        }
        var helmetDescs = {
            @for (var i = 0; i < eqs.Helmets.Count; ++i)
            {
                var item = eqs.Helmets[i];
                 <text>
                     '@i': 'Сила: @Html.Raw(item.Bonus.MainStats.Strength)\nЛовкость:\
                    @Html.Raw(item.Bonus.MainStats.Agility)\nИнтеллект: @Html.Raw(item.Bonus.MainStats.Intelligence)\nВыносливость: @Html.Raw(item.Bonus.MainStats.Endurance)',
                 </text>
            }
        }
        var legginsDescs = {
            @for (var i = 0; i < eqs.Leggins.Count; ++i)
            {
                var item = eqs.Leggins[i];
                 <text>
                     '@i': 'Сила: @Html.Raw(item.Bonus.MainStats.Strength)\nЛовкость:\
                    @Html.Raw(item.Bonus.MainStats.Agility)\nИнтеллект: @Html.Raw(item.Bonus.MainStats.Intelligence)\nВыносливость: @Html.Raw(item.Bonus.MainStats.Endurance)',
                 </text>
            }
        }
        var itemNames = {
            @foreach (var item in items)
            {
                <text>
                    '@item.Id': '@Html.Raw(item.Description().Name)',
                </text>
            }
            @foreach (var item in eqs.Boots)
            {
                <text>
                    '@item.Id': '@Html.Raw(item.Description().Name)',
                </text>
            }
            @foreach (var item in eqs.Plates)
            {
                <text>
                    '@item.Id': '@Html.Raw(item.Description().Name)',
                </text>
            }
            @foreach (var item in eqs.Swords)
            {
                <text>
                    '@item.Id': '@Html.Raw(item.Description().Name)',
                </text>
            }
            @foreach (var item in eqs.Amulets)
            {
                <text>
                    '@item.Id': '@Html.Raw(item.Description().Name)',
                </text>
            }
            @foreach (var item in eqs.Helmets)
            {
                <text>
                    '@item.Id': '@Html.Raw(item.Description().Name)',
                </text>
            }
            @foreach (var item in eqs.Leggins)
            {
                <text>
                    '@item.Id': '@Html.Raw(item.Description().Name)',
                </text>
            }
        };
        
    </script>
    
    <h2>Profile of <i>@TempData["Nickname"]</i></h2>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Your hero</h4>
                <span style="background: url(@TempData["HeroType"]) no-repeat; position: absolute; width: 300px; height: 75%; cursor: pointer"></span>
            </div>
            <div class="col">
                <p><b>Tier:</b> @TempData["Tier"]</p>
                <h4>Inventory:</h4>
                <p><img src="/img/shekel.png" width="16" height="16" style="margin-bottom: 3px;"/> <b>Gold:</b>@TempData["Gold"]</p>
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-items-tab" data-toggle="tab" href="#nav-items" role="tab">Items</a>
                        <a class="nav-item nav-link" id="nav-eqs-tab" data-toggle="tab" href="#nav-eqs" role="tab">Equipments</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-items" role="tabpanel">
                        @Html.Partial("_ItemGrid", new ItemGridParams
                        {
                            Items = items
                        })
                    </div>
                    <div class="tab-pane fade" id="nav-eqs" role="tabpanel">
                        <p><strong>Boots:</strong></p>
                        @Html.Partial("_EquipGrid", new ItemGridParams
                        {
                            Items = eqs.Boots.ConvertAll(x => (CItemInventory) x),
                            height = 2,
                            ItemCssClass = "with-boots",
                            SelectionId = eqs.CurrentBoots,
                            Action = "SetBoots"
                        })
                        <p><strong>Plates:</strong></p>
                        @Html.Partial("_EquipGrid", new ItemGridParams
                        {
                            Items = eqs.Plates.ConvertAll(x => (CItemInventory) x),
                            height = 2,
                            ItemCssClass = "with-plate",
                            SelectionId = eqs.CurrentPlate,
                            Action = "SetPlate"
                        })
                        <p><strong>Swords:</strong></p>
                        @Html.Partial("_EquipGrid", new ItemGridParams
                        {
                            Items = eqs.Swords.ConvertAll(x => (CItemInventory) x),
                            height = 2,
                            ItemCssClass = "with-sword",
                            SelectionId = eqs.CurrentSword,
                            Action = "SetSword"
                        })
                        <p><strong>Amulets:</strong></p>
                        @Html.Partial("_EquipGrid", new ItemGridParams
                        {
                            Items = eqs.Amulets.ConvertAll(x => (CItemInventory) x),
                            height = 2,
                            ItemCssClass = "with-amulet",
                            SelectionId = eqs.CurrentAmulet,
                            Action = "SetAmulet"
                        })
                        <p><strong>Helmets:</strong></p>
                        @Html.Partial("_EquipGrid", new ItemGridParams
                        {
                            Items = eqs.Helmets.ConvertAll(x => (CItemInventory) x),
                            height = 2,
                            ItemCssClass = "with-helmet",
                            SelectionId = eqs.CurrentHelmet,
                            Action = "SetHelmet"
                        })
                        <p><strong>Leggins:</strong></p>
                        @Html.Partial("_EquipGrid", new ItemGridParams
                        {
                            Items = eqs.Leggins.ConvertAll(x => (CItemInventory) x),
                            height = 2,
                            ItemCssClass = "with-leggins",
                            SelectionId = eqs.CurrentLeggins,
                            Action = "SetLeggins"
                        })
                    </div>
                </div>
                <h4>Stats:</h4>
                <ul class="list-group">
                    <li class="list-group-item">
                        <p>Strength</p>
                        <div class="row">
                            <div class="col">
                                <div class="progress" style="height: 32px;">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: @TempData["Strength"]%;">@TempData["Strength"]</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn-group btn-group-sm" role="group">
                                    <a class="btn btn-success" asp-controller="Account" asp-action="IncreaseStrength" >+</a>
                                    <a class="btn btn-light">
                                        <img src="/img/shekel.png" width="16" height="16"/> @StatPrice((int)cult.Stats.MainStats.Strength)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p>Agility</p>
                        <div class="row">
                            <div class="col">
                                <div class="progress" style="height: 32px;">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: @TempData["Agility"]%;">@TempData["Agility"]</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn-group btn-group-sm" role="group">
                                    <a class="btn btn-success" asp-controller="Account" asp-action="IncreaseAgility" >+</a>
                                    <a class="btn btn-light">
                                        <img src="/img/shekel.png" width="16" height="16"/> @StatPrice((int)cult.Stats.MainStats.Agility)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p>Intelligence</p>
                        <div class="row">
                            <div class="col">
                                <div class="progress" style="height: 32px;">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: @TempData["Intelligence"]%;">@TempData["Intelligence"]</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn-group btn-group-sm" role="group">
                                    <a class="btn btn-success" asp-controller="Account" asp-action="IncreaseIntelligence" >+</a>
                                    <a class="btn btn-light">
                                        <img src="/img/shekel.png" width="16" height="16"/> @StatPrice((int)cult.Stats.MainStats.Intelligence)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <p>Endurance</p>
                        <div class="row">
                            <div class="col">
                                <div class="progress" style="height: 32px;">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: @TempData["Endurance"]%;">@TempData["Endurance"]</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="btn-group btn-group-sm" role="group">
                                    <a class="btn btn-success" asp-controller="Account" asp-action="IncreaseEndurance" >+</a>
                                    <a class="btn btn-light">
                                        <img src="/img/shekel.png" width="16" height="16"/> @StatPrice((int)cult.Stats.MainStats.Endurance)
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
    <script type="text/javascript">
        tippy('.with-item',
            {
                trigger: "mouseenter",
                followCursor: true,
                content(reference) {
                    var itemId = reference.getAttribute('item-id');
                    var container = document.createElement('div');
                    var itemName = itemNames[itemId];
                    var itemDesc = itemDescriptions[itemId];
                    var title = document.createElement("h5");
                    title.innerText = itemName;
                    var desc = document.createElement("p");
                    desc.innerText = itemDesc;
                    container.appendChild(title);
                    container.appendChild(desc);
                    return container;
                }
            });
        
        tippy('.with-boots',
            {
                trigger: "mouseenter",
                followCursor: true,
                content(reference) {
                    var itemId = reference.getAttribute('item-id');
                    var itemIndex = reference.getAttribute('item-index');
                    var container = document.createElement('div');
                    var itemName = itemNames[itemId];
                    var itemDesc = bootsDescs[itemIndex];
                    var title = document.createElement("h5");
                    title.innerText = itemName;
                    var desc = document.createElement("p");
                    desc.innerText = itemDesc;
                    container.appendChild(title);
                    container.appendChild(desc);
                    return container;
                }
            });
        tippy('.with-plate',
            {
                trigger: "mouseenter",
                followCursor: true,
                content(reference) {
                    var itemId = reference.getAttribute('item-id');
                    var itemIndex = reference.getAttribute('item-index');
                    var container = document.createElement('div');
                    var itemName = itemNames[itemId];
                    var itemDesc = plateDescs[itemIndex];
                    var title = document.createElement("h5");
                    title.innerText = itemName;
                    var desc = document.createElement("p");
                    desc.innerText = itemDesc;
                    container.appendChild(title);
                    container.appendChild(desc);
                    return container;
                }
            });
        tippy('.with-sword',
            {
                trigger: "mouseenter",
                followCursor: true,
                content(reference) {
                    var itemId = reference.getAttribute('item-id');
                    var itemIndex = reference.getAttribute('item-index');
                    var container = document.createElement('div');
                    var itemName = itemNames[itemId];
                    var itemDesc = swordDescs[itemIndex];
                    var title = document.createElement("h5");
                    title.innerText = itemName;
                    var desc = document.createElement("p");
                    desc.innerText = itemDesc;
                    container.appendChild(title);
                    container.appendChild(desc);
                    return container;
                }
            });
        tippy('.with-amulet',
            {
                trigger: "mouseenter",
                followCursor: true,
                content(reference) {
                    var itemId = reference.getAttribute('item-id');
                    var itemIndex = reference.getAttribute('item-index');
                    var container = document.createElement('div');
                    var itemName = itemNames[itemId];
                    var itemDesc = amuletDescs[itemIndex];
                    var title = document.createElement("h5");
                    title.innerText = itemName;
                    var desc = document.createElement("p");
                    desc.innerText = itemDesc;
                    container.appendChild(title);
                    container.appendChild(desc);
                    return container;
                }
            });
        tippy('.with-helmet',
            {
                trigger: "mouseenter",
                followCursor: true,
                content(reference) {
                    var itemId = reference.getAttribute('item-id');
                    var itemIndex = reference.getAttribute('item-index');
                    var container = document.createElement('div');
                    var itemName = itemNames[itemId];
                    var itemDesc = helmetDescs[itemIndex];
                    var title = document.createElement("h5");
                    title.innerText = itemName;
                    var desc = document.createElement("p");
                    desc.innerText = itemDesc;
                    container.appendChild(title);
                    container.appendChild(desc);
                    return container;
                }
            });
        tippy('.with-leggins',
            {
                trigger: "mouseenter",
                followCursor: true,
                content(reference) {
                    var itemId = reference.getAttribute('item-id');
                    var itemIndex = reference.getAttribute('item-index');
                    var container = document.createElement('div');
                    var itemName = itemNames[itemId];
                    var itemDesc = legginsDescs[itemIndex];
                    var title = document.createElement("h5");
                    title.innerText = itemName;
                    var desc = document.createElement("p");
                    desc.innerText = itemDesc;
                    container.appendChild(title);
                    container.appendChild(desc);
                    return container;
                }
            });
    </script>
}
else
{
    @Url.Action("Index", "Home", new { area = "" })
}