@model WebApplication1.Game.UpdateClasses.Buildings.CMarket
@using WebApplication1.Game.BaseClasses;
@using WebApplication1.Game.UpdateClasses.NPC

@{
    ViewData["Title"] = "Metropolis";
}
@if (Model.Id != 0)
{
    <div>
        <a class="btn btn-primary"
           asp-action="go"
           asp-route-id="@Model.ParentLoc.Id">
            Назад
        </a>
    </div>
}
<div class="text-center">
    <h2>@Model.Name</h2>
</div>
<div class="row">
    <div class="col">
        <img src="@Model.BigPicture" class="img-fluid" width="50%" style="margin-left: 300px">
    </div>
</div>
<div class="text-center">
    <h4>Список торговцев:</h4>
</div>
<div class="row">
    <div class="col-md-6" style="margin: 0 auto;">
        <div class="row">
            @foreach (var locs in Model.Directions)
            {
                CNPC trader = (CNPC) GLocationsList.GetById(locs.LocationId);
                <div class="col-6">
                    <a a asp-controller="Game"
                       asp-action="go" 
                       asp-route-id="@locs.LocationId" >
                        <div class="text-center">
                            <h5>@GLocationsList.GetById(locs.LocationId).Name</h5>
                            <img src="@trader.Portret" class="img-fluid" style="width: 50%;">
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
