@model WebApplication1.Game.UpdateClasses.NPC.CBaseTrader
@using WebApplication1.Game.UpdateClasses.NPC


@{
    //ViewData["Title"] = "Metropolis";
}
<partial name="_Back" />
<div class="text-center">
    <h2>@Model.Name</h2>
</div>
<div class="row">
    <div class="col-4">
        <div class="text-center">
            <img src="@Model.Portret" class="img-thumbnail img-fluid"
                 style="width: 300px;"/>
        </div>
    </div>
    <div class="col-8">
        <p>
            @Model.Description
        </p>
    </div>
</div>
<div class="text-center">
    <b>Баланс:</b> <img src="/img/shekel.png" width="16" height="16"/> @TempData["Gold"]
</div>
<table class="table table-striped">

    @for (int i = 0; i < Model.Actions.Count; i++)
    {
        <tr>
            @{
                var tovar = (CBaseTrader.CTraderAction) Model.Actions[i];

                for (var j = 0; j < tovar.TraderItems.Count; ++j)
                {
                    var item = tovar.TraderItems[j];
                    <td @if (item.Description().Bonus != null)
                        {
                            <text>
                                class="show-stats"
                                actions-index="@i"
                                action-equips-index="@j"
                            </text>
                        }>
                        <img src="@item.Description().Picture" class="img-thumbnail img-fluid" 
                             style="height: 128px; width: 128px;"/>
                    </td>
                }
                
                <td>
                    <h5>@tovar.TraderItems[0].Description().Name</h5>
                    <p>@tovar.TraderItems[0].Description().Description</p>
                </td>

                <td>
                    <form asp-action="Shop">
                        <input name="slot" type="hidden" value="@i"/>
                        <button type="submit" class="btn btn-light">
                            <img src="/img/shekel.png" width="16" height="16"/> @tovar.Price
                        </button>
                    </form>
                </td>
            }
        </tr>
    }

</table>

<script src="https://unpkg.com/tippy.js@3/dist/tippy.all.min.js"></script>
<script type="text/javascript">
    var equipsStats = [
        @foreach (var i in Model.Actions)
        {
        var tovar = (CBaseTrader.CTraderAction) i;
        <text>
            [
                @foreach (var j in tovar.TraderItems)
                {
                    if (j.Description().Bonus != null)
                    {
                        var bonus = j.Description().Bonus;
                        <text>
                        'Сила: @Html.Raw(bonus.MainStats.Strength)\n\
                        Ловкость:@Html.Raw(bonus.MainStats.Agility)\n\
                        Интеллект: @Html.Raw(bonus.MainStats.Intelligence)\n\
                        Выносливость: @Html.Raw(bonus.MainStats.Endurance)',
                        </text>
                    }
                }
            ],
        </text>
        }
    ];
    tippy('.show-stats',
        {
            trigger: "mouseenter",
            followCursor: true,
            content(reference) {
                var actionIndex = reference.getAttribute('actions-index');
                var equipIndex = reference.getAttribute('action-equips-index');
                var container = document.createElement('div');
                var equipStats = equipsStats[+actionIndex][+equipIndex];
                var desc = document.createElement("p");
                desc.innerText = equipStats;
                container.appendChild(desc);
                return container;
            }
        });
</script>