@model WebApplication1.Game.UpdateClasses.NPC.CBaseTrader
@using WebApplication1.Game.UpdateClasses.NPC


@{
    //ViewData["Title"] = "Metropolis";
}
<div class="text-center">
    <h2>@Model.Name</h2>
</div>
<div class="row">
    <div class="col-4">
        <div class="text-center">
            <img src="@Model.Portret" class="img-thumbnail img-fluid"
                 style="width: 300px;"/>
        </div>
    </div>
    <div class="col-8">
        <p>
            @Model.Description
        </p>
    </div>
</div>
<div class="text-center">
    <b>Баланс:</b> <img src="/img/shekel.png" width="16" height="16"/> @TempData["Gold"]
</div>
<table>

    @for (int i = 0; i < Model.Actions.Count; i++)
    {
        <tl>
            @{
                var tovar = (CBaseTrader.CTraderAction) Model.Actions[i];

                foreach (var item in @tovar.TraderItems)
                {
                    <tr>
                        <img src="@item.Description().Picture" class="img-thumbnail img-fluid"
                             style="height: 128px; width: 128px;"/>
                    </tr>
                }


                <tr>
                    <div class="col-8">

                        <form asp-action="Shop">
                            <input name="slot" type="hidden" value="@i"/>
                            <button type="submit" class="btn btn-light">
                                <img src="/img/shekel.png" width="16" height="16"/> @tovar.Price
                            </button>
                        </form>


                    </div>
                </tr>
            }
        </tl>
    }

</table>